/* TODO trocar os arquivos de fontes das 2 últimas fontes */
/* Quatro */
@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-RegularItalic.eot');
    src: local('Quatro Regular Italic'), local('Quatro-RegularItalic'),
        url('fonts/quatro/Quatro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-RegularItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-RegularItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-ExtraLightItalic.eot');
    src: local('Quatro ExtraLight Italic'), local('Quatro-ExtraLightItalic'),
        url('fonts/quatro/Quatro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-ExtraLightItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-Regular.eot');
    src: local('Quatro Regular'), local('Quatro-Regular'),
        url('fonts/quatro/Quatro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Regular.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Regular.woff') format('woff'),
        url('fonts/quatro/Quatro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-SemiBold.eot');
    src: local('Quatro SemiBold'), local('Quatro-SemiBold'),
        url('fonts/quatro/Quatro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-SemiBold.woff2') format('woff2'),
        url('fonts/quatro/Quatro-SemiBold.woff') format('woff'),
        url('fonts/quatro/Quatro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-Medium.eot');
    src: local('Quatro Medium'), local('Quatro-Medium'),
        url('fonts/quatro/Quatro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Medium.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Medium.woff') format('woff'),
        url('fonts/quatro/Quatro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-BlackItalic.eot');
    src: local('Quatro Black Italic'), local('Quatro-BlackItalic'),
        url('fonts/quatro/Quatro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-BlackItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-BlackItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-ExtraLight.eot');
    src: local('Quatro ExtraLight'), local('Quatro-ExtraLight'),
        url('fonts/quatro/Quatro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-ExtraLight.woff2') format('woff2'),
        url('fonts/quatro/Quatro-ExtraLight.woff') format('woff'),
        url('fonts/quatro/Quatro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-Bold.eot');
    src: local('Quatro Bold'), local('Quatro-Bold'),
        url('fonts/quatro/Quatro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Bold.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Bold.woff') format('woff'),
        url('fonts/quatro/Quatro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-LightItalic.eot');
    src: local('Quatro Light Italic'), local('Quatro-LightItalic'),
        url('fonts/quatro/Quatro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-LightItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-LightItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro UltraBlack';
    src: url('fonts/quatro/Quatro-UltraBlack.eot');
    src: local('Quatro UltraBlack'), local('Quatro-UltraBlack'),
        url('fonts/quatro/Quatro-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-UltraBlack.woff2') format('woff2'),
        url('fonts/quatro/Quatro-UltraBlack.woff') format('woff'),
        url('fonts/quatro/Quatro-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-SemiBoldItalic.eot');
    src: local('Quatro SemiBold Italic'), local('Quatro-SemiBoldItalic'),
        url('fonts/quatro/Quatro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-SemiBoldItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-Black.eot');
    src: local('Quatro Black'), local('Quatro-Black'),
        url('fonts/quatro/Quatro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Black.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Black.woff') format('woff'),
        url('fonts/quatro/Quatro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro Book';
    src: url('fonts/quatro/Quatro-BookItalic.eot');
    src: local('Quatro Book Italic'), local('Quatro-BookItalic'),
        url('fonts/quatro/Quatro-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-BookItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-BookItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-Light.eot');
    src: local('Quatro Light'), local('Quatro-Light'),
        url('fonts/quatro/Quatro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Light.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Light.woff') format('woff'),
        url('fonts/quatro/Quatro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro UltraBlack';
    src: url('fonts/quatro/Quatro-UltraBlackItalic.eot');
    src: local('Quatro UltraBlack Italic'), local('Quatro-UltraBlackItalic'),
        url('fonts/quatro/Quatro-UltraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-UltraBlackItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-UltraBlackItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-UltraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro Book';
    src: url('fonts/quatro/Quatro-Book.eot');
    src: local('Quatro Book'), local('Quatro-Book'),
        url('fonts/quatro/Quatro-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-Book.woff2') format('woff2'),
        url('fonts/quatro/Quatro-Book.woff') format('woff'),
        url('fonts/quatro/Quatro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-BoldItalic.eot');
    src: local('Quatro Bold Italic'), local('Quatro-BoldItalic'),
        url('fonts/quatro/Quatro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-BoldItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-BoldItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Quatro';
    src: url('fonts/quatro/Quatro-MediumItalic.eot');
    src: local('Quatro Medium Italic'), local('Quatro-MediumItalic'),
        url('fonts/quatro/Quatro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/quatro/Quatro-MediumItalic.woff2') format('woff2'),
        url('fonts/quatro/Quatro-MediumItalic.woff') format('woff'),
        url('fonts/quatro/Quatro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Black.ttf');
    src: local('Poppins Black'), local('Poppins-Black'),
        url('fonts/quatro/Quatro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-BlackItalic.ttf');
    src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
        url('fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Bold.ttf');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-BoldItalic.ttf');
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
        url('fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-ExtraBold.ttf');
    src: local('Poppins Extra Bold'), local('Poppins-ExtraBold'),
        url('fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-ExtraBoldItalic.ttf');
    src: local('Poppins Extra Bold Italic'), local('Poppins-ExtraBoldItalic'),
        url('fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-ExtraLight.ttf');
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
        url('fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Italic.ttf');
    src: local('Poppins Italic'), local('Poppins-Italic'),
        url('fonts/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-ExtraLightItalic.ttf');
    src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
        url('fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Regular.ttf');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Light.ttf');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-LightItalic.ttf');
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Medium.ttf');
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-MediumItalic.ttf');
    src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
        url('fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-SemiBold.ttf');
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-SemiBoldItalic.ttf');
    src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
        url('fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Light.ttf');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-LightItalic.ttf');
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Thin.ttf');
    src: local('Poppins Thin'), local('Poppins-Thin'),
        url('fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-ThinItalic.ttf');
    src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
        url('fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Nunito */
@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-Black.ttf');
    src: local('Nunito Black'), local('Nunito-Black'),
        url('fonts/nunito/static/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-BlackItalic.ttf');
    src: local('Nunito Black Italic'), local('Nunito-BlackItalic'),
        url('fonts/nunito/static/Nunito-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-Bold.ttf');
    src: local('Nunito Bold'), local('Nunito-Bold'),
        url('fonts/nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-BoldItalic.ttf');
    src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
        url('fonts/nunito/static/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-ExtraBold.ttf');
    src: local('Nunito Extra Bold'), local('Nunito-ExtraBold'),
        url('fonts/nunito/static/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-ExtraBoldItalic.ttf');
    src: local('Nunito Extra Bold Italic'), local('Nunito-ExtraBoldItalic'),
        url('fonts/nunito/static/Nunito-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-ExtraLight.ttf');
    src: local('Nunito Extra Light'), local('Nunito-ExtraLight'),
        url('fonts/nunito/static/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-ExtraLightItalic.ttf');
    src: local('Nunito Extra Light Italic'), local('Nunito-ExtraLightItalic'),
        url('fonts/nunito/static/Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-Italic.ttf');
    src: local('Nunito Italic'), local('Nunito-Italic'),
        url('fonts/nunito/static/Nunito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Light'), local('Nunito-Light'),
        url('fonts/nunito/static/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-LightItalic.ttf');
    src: local('Nunito Light Italic'), local('Nunito-LightItalic'),
        url('fonts/nunito/static/Nunito-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-Medium.ttf');
    src: local('Nunito Medium'), local('Nunito-Medium'),
        url('fonts/nunito/static/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-MediumItalic.ttf');
    src: local('Nunito Medium Italic'), local('Nunito-MediumItalic'),
        url('fonts/nunito/static/Nunito-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-Regular.ttf');
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('fonts/nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-SemiBold.ttf');
    src: local('Nunito Semi Bold'), local('Nunito-SemiBold'),
        url('fonts/nunito/static/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/static/Nunito-SemiBoldItalic.ttf');
    src: local('Nunito Semi Bold Italic'), local('Nunito-SemiBoldItalic'),
        url('fonts/nunito/static/Nunito-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic
}