html {
scroll-behavior: smooth;
}

main {
    padding-top: 50px;
}

.bgBlue {
    background-color: #731be0;
}

.fontWhite {
    color: #ffffff;
}

/* Navbar */

.navbar-ct {
    padding-top: 15px;
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .navbar-ct {
        padding-top: 0px;
    }
}

.navbar {
    border-bottom: solid 1px #ffffff;
    position: fixed;
    z-index: 1000;
    height: 55px;
    transition: height 0.1s;
    font-family: Poppins;
    color: #ffffff;
}

.small {
    height: 60px !important;
}

.navbar-nav {
    padding-bottom: 20px;
}

.navbar-nav li a{
    color: #ffffff;
    font-size: 1.18rem !important;
    float: left;
    border-bottom: solid 1px transparent;
}

.navbar-nav li a:hover{
    color: #ffffff;
    font-size: 1.18rem !important;
    border-bottom: solid 1px #ffffff;
}

.navbar-nav li a:focus{
    color: #ffffff;
    font-size: 1.18rem !important;
    border-bottom: solid 1px #ffffff;
}

.justify-content-between {
    align-items: center;
}

.navbar-collapse {
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #751fe0;
    }

    .navbar-collapse ul {
        padding-left: 15px;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.btnContact a{
    background-color: #5d05cb;
    border-radius: 6px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-bottom: solid 1px transparent;
}

.btnContact a:hover{
    background-color: #4e00b0;
    border-bottom: solid 1px transparent !important;
}
/* Navbar */

/* Section 1 */

.bg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
}

.section-1 {
    padding-top: 20px;
    padding-bottom: 70px;
}

.text-section-1 {
    font-size: 3.5rem;
    color: #ffffff;
    font-family: Nunito;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 80px;
}

@media (max-width: 575px) {
    .text-section-1 {
        font-size: 2.05rem;
        padding-top: 20px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .text-section-1 {
      font-size: 2.53125rem;
    }
}

@media (min-width: 992px) {
    .text-section-1 {
      font-size: 3.5rem;
    }
}

.text-section-1 span{
    font-weight: bold !important;
}

/* Section 1 */

/* Section 2 */
.bgDarkBlue {
    background-color: #2d104d;
}

.section-2 {
    padding-top: 45px;
}

@media (min-width: 992px) {
    .section-2 {
        padding-bottom: 50px;
    }
}

.snow {
  
}

.snow img{
    position: relative;
    top: 130px;
}

@media (max-width: 576px) {
    .snow img {
        top: 20px;
    }
}

.snow-bottom {
    
}

.snow-bottom img{
    position: relative;
    top: 50px;
    left: -25px;
}

/* Section 2 */

/* Section 3 */
.bg2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
}

.section-3 {
    padding-top: 40px;
}

.selo-natal img {
    position: relative;
    top: -80px;
}

.moto {

}

@media (max-width: 991px) {
    .moto {
      margin-top: -130px;
    }
}

 
.mural-partners {
    background-color: rgba(255, 255, 255, 0.09);
    margin-top: -140px !important;
}

@media (max-width: 991px) {
    .mural-partners {
        margin-top: -150px !important;
    }
}

.title-partners {
    font-size:  2.53125rem;
    font-family: Quatro;
    font-weight: bold;
    color: #ffffff;
}

@media (max-width: 411px) {
    .title-partners {
      font-size: 1.4rem;
    }
}

@media (min-width: 412px) {
    .title-partners {
      font-size: 1.8rem;
    }
}

@media (min-width: 575px) {
    .title-partners {
      font-size: 1.6rem;
    }
}

@media (min-width: 576px) {
    .title-partners {
      font-size: 2.53125rem;
    }
}

.mr-20 {
    margin-right: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pd-top-50 {
    padding-top: 50px;
}

.pd-bottom-30 {
    padding-bottom: 30px;
}

.mt-partners {

}

@media (max-width: 575px) {
    .mt-partners {
        margin-top: -90px;
    }
}

@media (max-width: 991px) {
    .mt-partners {
        margin-top: 190px;
    }
}

@media (min-width: 992px) {
    .mt-partners {
        margin-top: 0px;
    }
}

.partner {
    font-family: Poppins;
    font-weight: 600;
    color: #ffffff;
}

.location-partner {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    color: #ffffff;
}

.contact-partner {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}

.img-thumbnail {
    background-color: transparent !important;
    border: none !important;
}

.container-partners {

}

.img-partners {
    position: relative;
}
  
.img-partners img {
    display: block;
    width: 120% !important;
}

.img-partners .overlay {
    position: absolute;
    top: 0;
    left: 12;
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.img-partners:hover .overlay {
    opacity: 0.2;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pd-left-20 {
    padding-left: 20px;
}

.mt-neg-60 {
    margin-top: -60px;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.indicators-container {
    display: flex;
    justify-content: center;
}
  
.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #ffffff;
    cursor: pointer;
    margin: 0 5px;
}
  
.indicator.filled {
    background-color: #ffffff; 
    width: 13px;
    height: 13px;
}
  
.indicator + .indicator {
    margin-left: 10px;
}
  
.indicator:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pb-30 {
    padding-bottom: 30px
}

.pb-60 {
    padding-bottom: 60px
}

/* Pagination */

/* Section 3 */

/* Section 4 */
.bg3 {
    background-color: #2d104d;
}

.attraction {

}

.attraction img {
    position: relative;
    top: -280px;
}

.pt-80 {
    padding-top: 80px;
}

.bg4 {
    background-color: #fa6101;
    height: 80px;
}

@media (max-width: 575px) {
    .bg4 {
        height: 40px;
    }
}
/* Section 4 */
/* Section 5 */

.footer {
    padding-bottom: 100px;
    padding-top: 80px;
}

@media (max-width: 575px) {
    .footer {
        padding-bottom: 50px;
        padding-top: 30px;
    }
}

.pb-100 {
    padding-bottom: 100px;
}

.info {
    font-size: 1.32rem;
    font-family: Montserrat;
}

.info a {
    text-decoration: none;
    color: #000000;
}

.info a:hover {
    border-bottom: solid 3px #fa6101;
}

.copy {
    font-size: 1.32rem;
    font-family: Montserrat;
    font-weight: bold;
    color: #6200dc;
}
/* Section 5 */
